@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');


body {
    background-image: url("https://wallpaperaccess.com/full/1567666.png");
 }
 .video {
    padding: 0px; /* JUST TO LOOK COOL */
    border: 0px solid rgb(94, 255, 0);  /* JUST TO LOOK COOL */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 0px;
    transition: all .3s ease-in-out;
  }
  
  .video:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0 0 10px ;
    box-shadow: rgba(0, 0, 0, 0.22) 0 0 10px ;
    transform: translate3d(-20px, -20px, 0px);
  }
 .video {
        width: 650px; /* height is 225px */
        margin-left: calc(30vw - 40px); 
        margin-top: calc(20vh - 100px);
      }

  .headding {
      text-align: center;
      color: rgb(0, 255, 136);
      font-family: 'Courier New', Courier, monospace;
  }
  .text {
      text-align: center;
      color: blueviolet;
      text-decoration-color: aqua;
      font-family: 'Ubuntu Mono', monospace;
      font-size: 25px;
  }
     
